.guestReviews__block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.guestReviews__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.guest{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.guest__header{
    display: flex;
    justify-content: space-between;
}

.guest__title{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.guest__rating{
    font-size: 16px;
    color: #000;
}

.guest__review{
    font-size: 16px;
    color: #000; 
    line-height: 1.5em;
}